*{
    font-family:'Nunito', sans-serif; 
}

body{
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
}


header{
    padding: 5px;
    background-color:steelblue;
    display: flex;
    justify-content:space-between;
    align-items: center
}

.logo img{
    width: 60px;
}

.menu ul{
    padding: 10px;
    gap: 30px;
    display: flex;
    justify-content: right;
    list-style: none;
}

a{ 
    color: black;
    text-decoration: none;
    font-weight:600
} 

